:root{
    --ghost-white: #f8f9fd;
    --fire-bush: #e99c2f;
    --granite-gray: #626a6a;
    --baltic-sea: #33383c;
    --trans: all 0.5s ease-in-out;
}



.font-spec
{
    font-size: 19px;
}
.bg-gray
{
    background: #f3f2f2;
}
@media (max-width: 992px){
    .btn
    {
        border-radius: 20px;
    }

}
@media(min-width: 992px)  {
    .btn
    {
        border-radius: 20px;
        padding: 11px 82px;
    }

}
.p-10
{
    padding: 0 6rem 0 8rem;
}
.card-title
{
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
}
.btn-white {
    color: #fff;
    background-color: transparent;
    border-color: #f8f9fa;
    border: 2px solid;
}
.btn-black {
    color: black;
    background-color: transparent;
    border-color: black;
    border: 2px solid;
}

.btn-black:hover {
    color: white;
    background-color: black;
    border-color: black;
    border: 2px solid;
}

.btn-white:hover {
    color: #fff;
    background-color: transparent;
    border-color: #f8f9fa;
    border: 2px dotted;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 30px;
}
.color-black
{
    color: black;
}
.btn-primary {
    --bs-bg-opacity: 1;
    background-color: #dc3444;
}
.landing-title
{
    background: white;
    padding: 10px;
    color: #ad2b2b;
    font-family: Open Sans;
}
.bg-landing
{
    background-image: url(https://d3lva16jjk54v1.cloudfront.net/store/content_blocks/799/original/VF-Bandeau_AccueilSiteWeb_Calendriers2021_V3.jpeg?1634736497);
    background-repeat: no-repeat;
    border-radius: 2px;
    background-size: cover;
    padding-top: 12%;
    padding-bottom: 10%;
    text-align: center;
    color: white;
}
.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


@media (min-width: 992px){
    .pl-customnav
    {
    }
}
.card-img, .card-img-top {
    border-radius: 3px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card
{
    border-radius: 0;
    background: transparent;
    border: none;
    color: white;
    text-align: center;
}
.section-title {
    font-family: Caveat;
    text-align: center;
    color: white;
    padding-top: 30px;
    color: #ad2b2b;
    font-size: 40px;
    font-weight:bolder;
}
.third_title{
    font-family: Caveat;
    text-align: left;
    color: white;
    padding-top: 60px;
    color: black;
    font-size: 30px;
    font-weight:bolder;
}

.card_title{
    font-family: Caveat;
    text-align: center;
    color: white;
    padding-top: 60px;
    color: black;
    font-size: 45px;
    font-weight:bolder;
}

.dropdown:hover .dropbtn {color: #f3f2f2}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/*********CART************/
.cart{
    justify-self: flex-end;
    padding-right: 8px;
}
#cart-btn{
    border: none;
    font-size: 1.5rem;
    background: none;
    position: relative;
}
#cart-count-info{
    position: absolute;
    top: -12px;
    right: -8px;
    background: var(--fire-bush);
    color: #fff;
    font-size: 1rem;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.cart-container{
    position: absolute;
    overflow-y: scroll;
    background: #fff;
    width: 100%;
    height: 600px;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
}
.cart-container::-webkit-scrollbar{
    width: 8px;
}
.cart-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* js related class */
.show-cart-container{
    display: block;
}
/*  */
.cart-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.cart-item:last-child{
    border-bottom: none;
}
.cart-item-del-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    background: var(--fire-bush);
    border: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cart-item img{
    width: 80px;
}
.cart-item-info{
    text-align: center;
}
.cart-item-info span{
    display: block;
}
.cart-total{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--fire-bush);
    color: #fff;
}
.cart-total h3{
    margin-right: 0.2rem;
    font-size: 1.3rem;
}
#cart-total-value{
    font-size: 1.3rem;
    font-weight: 500;
}

.cart_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.cart_page ul {
    width: 100%;
    list-style: none;
    padding: 50px 100px;
   
}

.cart_page ul>li {
    width: 100%;
    background-color: goldenrod;
    margin: 20px 0;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;


}

.cart_page>span {


}

.cart_page ul>li>span{

}

#minus, #plus {
  background-color: white;
padding: 5px 20px;
    cursor: pointer;
    border-radius: 4px;
}
#total{
    float: right;
    padding-top: 8%;
color: #117715;
    font-weight: bolder;

}